<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd

    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--目标对象-->
    <bean id="target" class="com.yg.proxy.jdk.TargetImpl"></bean>

    <!--切面对象-->
    <bean id="myAspect" class="com.yg.aop.MyAspect"></bean>

    <!--配置织入：告诉spring框架 哪些方法(切点)需要进行哪些增强(前置、后置...)-->
    <aop:config proxy-target-class="true">
        <aop:aspect ref="myAspect">
<!--            <aop:pointcut id="myPoint" expression="execution(public void com.yg.proxy.jdk.TargetImpl.*())"/>-->
            <aop:pointcut id="myPoint" expression="execution(* com.yg.proxy.jdk.*.*(..))  "/>

            <aop:before method="before" pointcut-ref="myPoint" ></aop:before>
            <aop:after-returning method="afterReturning" pointcut-ref="myPoint"></aop:after-returning>
            <aop:after method="after" pointcut-ref="myPoint" ></aop:after>
            <aop:around method="around" pointcut-ref="myPoint"></aop:around>
            <aop:after-throwing method="afterThrowing" pointcut-ref="myPoint" throwing="ex"></aop:after-throwing>
        </aop:aspect>
    </aop:config>


</beans>